/* Fonts */
@font-face {
    font-family: "Google-Sans";
    src: url(assets/fonts/Google\ Sans\ Regular.woff);
}


@font-face {
    font-family: "Brand-font";
    src: url(assets/fonts/LobsterTwo-Regular.ttf);
}


body {
    font-family: "Google-Sans";
    font-size: 18px;
}


/* Navbar start */
.navbar {
    background-color: #fff;
}


.navbar-brand {
    font-family: "Brand-font";
    font-weight: bold;
    font-size: 30px;
    color: #008B8B !important;
}



.nav-item .nav-link {
    color: rgb(48, 48, 48);
    /* font-weight: bold; */
    transition: 0.3s;
}

.nav-link:hover {
    transform: translateY(-6px);
    color: #008B8B;
}



.dropdown-menu .dropdown-item {
    /* font-weight: bold; */
    transition: 0.3s;
}


.dropdown-menu .dropdown-item:hover {
    transform: translateX(6px);
    color: #008B8B;
}


.navbar-nav .btn {
    border-radius: 10px;
    font-size: 13px;
    background-color: #008B8B;
    padding: 10px;
    color: rgb(240, 240, 240);
    font-weight: bold;
}


.navbar-toggler {
    background-color: #008B8B;
    border: none;
    /* padding: 18px 23px; */
}


.navbar-toggler span {
    display: block;
    width: 23px;
    height: 3px;
    border: 1px;
    background: #fff;
    margin: 4px;
}


.collapse {
    background-color: #fff;
}


/* Navbar end */




/* Jumbotron start */
.jumbotron img {
    width: 100%;
}



.jumbotron .btn {
    background-color: #008B8B;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 14px;
}


/* Jumbotron end */
















/* Responsive */
@media screen and (max-width: 512px) {
    body {
        padding: 13px 20px;
    }



    /* jumbotron */
    .jumbotron img {
        margin-top: 60px;
    }
}